@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dancing: var(--font-dancing-script);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scrolling on mobile while dragging */
  touch-action: none;
}

/* Custom utilities */
.font-dancing {
  font-family: var(--font-dancing), cursive;
}
